body {
    max-height: 100vh;
}

.up-section {
    border: 1px black dashed;
    text-align: center;
    height: 50px;
}

/* this nav bar */
.nav {
    display: flex;
    justify-content: center;
    border: 1px black dashed;
    /* text-align: center; */
    height: 30px;
}

/* this is nav buttons group */
.nav-buttons-group {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav-buttons li {
    display: inline;
}

.hero {
    border: 1px black dashed;
    text-align: center;
    height: 180px;
}

.main-section {
    border: 1px black dashed;
    text-align: center;
    height: 110px;
}

.footer {
    border: 1px black dashed;
    text-align: center;
    height: 80px;
}
